@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap'); /*sidebar*/
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap'); /*hello, name*/
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap'); /*major*/
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap'); /*bio*/ /*project description*/
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap'); /*skills title and skills content*/ /*project title*/

*{
    margin: 0;
    padding: 0;

}

.sidebarReact {

    transform: translate(-443px, 0px);
    position: absolute;
}

@media (max-width: 250px) {
    /* .sidebar {
        transform: translate(0px, 0px);
    } */
    .devPic {
        display: none;
    }
    
}

.hamburger {
    top: 10px;
    position: absolute;
    cursor: pointer;
    left: 10px;
}

.cross {
    margin-left: 110px;
}
.sidebar{
    background-color: #FFCBA1; /*peach*/
    /* width:430vw; */
    font-family: 'Oswald', sans-serif;
    height: 120vh;
    transition: transform 0.2s ease;
    position: absolute;
}

.sidebar nav{
    padding: 30px;
}

.sidebar nav li{
    list-style: none;
    font-size: 30px;
    padding: 29px 0;
}

.sidebar nav li a{
    text-decoration: none;
    color: black;
}

.main{
    /* background-color: yellow; */
    width: 100vw;
    height: 120vh;
}

.class{
    display: flex;
}

.infoClass{
    /* background-color: greenyellow; */
    float: right;
    height: 70vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;

}

.devInfo{
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin: 50px;

}

.devPic img{
    width: 35vh;
    position: relative;
    top: 25%;
    bottom: 25%;
    border: 3px solid;
    margin: 10%;

}

.hello{
    font-size: 85px;
    font-family: 'PT Sans Narrow', sans-serif;
}

.name{
    font-size: 85px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: bold;
}

.major{
    font-size: 40px;
    font-family: 'Barlow Condensed', sans-serif;

}

.bio{
    font-family: 'Manrope', sans-serif;
    font-size: 17px
}

.buttons button{
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: bold;
    color: black;
    background-color: #F5F5DC; /*beige*/
    font-size: 15px;
    margin: 0 3 px;
    cursor: pointer;
}

.buttons button:hover{
    background-color: white;
    color: black;
}



/*For skills.html*/

.skillMainTitle {
    text-align: center;
    /* background-color: blue; */
    font-family: 'Rajdhani', sans-serif;
    font-size: 47px;

}

.skillClass{
    /* background-color: yellow; */
    height: 70vh;
    width: 80vw;
    align-items: center;
    margin: 20px auto;
    display: grid;
    justify-content: space-around;

}

.skillsBar{
    text-align: left;
    font-size: 40px;
    width: 900px;
    background: #FFFDD0;
    border-radius: 10px;
    padding: 25px 30px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}

.skillsBar .bar {
    margin: 20px 0;
}

.skillsBar .bar:first-child {
    margin-top: 0px;
}

.skillsBar .bar .info {
    margin-bottom: 5px;
}

.skillsBar .bar .info span{
    font-size: 25px;
    font-weight: 500px;

    opacity: 0;
    animation: showText 0.5s 1s linear forwards;
}

@keyframes showText {
    100%{
        opacity: 1;
    }
}

.skillsBar .bar .progress-line{
    position: relative;
    height: 10px;
    width: 100%;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    background: lightgrey;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5, 0), 0px 1px rgba(255, 255, 255, 0.8);
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}

@keyframes animate {
    100%{
        transform: scaleX(1);
    }
}

.bar .progress-line span{
    height: 100%;
    width: 80%;
    background: orange;
    position: absolute;
    border-radius: 10px;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;

}




.bar .progress-line.java span {
    width: 70%;
}

.bar .progress-line.cpp span {
    width: 60%;
}

.bar .progress-line.python span {
    width: 15%;
}

.bar .progress-line.html span {
    width: 90%;
}

.bar .progress-line.css span {
    width: 80%;
}

.bar .progress-line.javascript span {
    width: 70%;
}

.bar .progress-line.mysql span {
    width: 50%;
}

.bar .progress-line.reactjs span {
    width: 30%;
}





.bar .progress-line span::before {
    position: absolute;
    content: "";
    right: 0;
    top: -10px;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: black;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}

.bar .progress-line span::after {
    position: absolute;
    right: 0;
    content: "80%";
    right: 0;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    background: #000;
    padding: 1px 8px;
    border-radius: 3px;
    top: -28px;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}

@keyframes showText2 {
    100%{
        opacity: 1;
    }
}

.bar .progress-line.java span::after {
    content: "70%";
}

.bar .progress-line.cpp span::after {
    content: "60%";
}

.bar .progress-line.python span::after {
    content: "15%";
}

.bar .progress-line.html span::after {
    content: "90%";
}

.bar .progress-line.css span::after {
    content: "80%";
}

.bar .progress-line.javascript span::after {
    content: "70%";
}

.bar .progress-line.mysql span::after {
    content: "50%";
}

.bar .progress-line.reactjs span::after {
    content: "30%";
}


/*For projects.html*/

.projClass{
    /* background-color: yellow; */
    height: 70vh;
    width: 80vw;
    align-items: center;
    margin: 20px auto;
    display:grid;
    justify-content: space-around;
}

.projItem h2{
    margin: 20px;
    font-family: 'Rajdhani', sans-serif;
}

.projItem div{
    font-family: 'Manrope', sans-serif;
    margin: 20px;
    
}

.projClass h1{
    font-family: 'Rajdhani', sans-serif;
    text-align: center ;
}

.btn-sm{
    margin: 20px;
    padding: 0px 13px;
    border-radius: 30px;
    font-weight: bold;
    color: black;
    background-color: #F5F5DC; /*beige*/
    font-size: 12px;
    cursor: pointer;
}

.btn-sm:hover{
    background-color: white;
    color: black;
}



/*For interests*/

.interestsClass {
        /* background-color: greenyellow; */
        height: 70vh;
        width: 80vw;
        margin: 144px auto;
        display: flex;
        justify-content: space-around;
}

.publicspeaking {
    height: 500px;
    position: relative;
    border: 3px solid #dbe4ed; /* Border color is optional */
}

.communityservice {
    text-decoration: none;
    color: black;
}

.travelling {
    text-decoration: none;
    color: black;
}

.basketball {
    text-decoration: none;
    color: black;
}


/* .publicspeakingImage {
    display: flex;
    max-height: 100%;
    max-width: 100%;
    margin: 20%;
    align-items: center;
    top:80%;


    width: 35vh;
    position: relative;
    top: 25%;
    bottom: 25%;
    border: 3px solid;
    margin: 10%;

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.communityserviceImage {
    display: flex;
    width: 35vh;
    position: absolute;
    top: 25%;
    bottom: 25%;
    border: 3px solid;
    margin: 10%;
}

.travellingImage {
    display: flex;
    width: 35vh;
    position: absolute;
    top: 25%;
    bottom: 25%;
    border: 3px solid;
    margin: 10%;
}

.basketballImage {
    display: flex;
    width: 35vh;
    position: absolute;
    top: 25%;
    bottom: 25%;
    border: 3px solid;
    margin: 10%;
} */

.contactClass {
background-color:#FFFDD0;
    height: 70vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
    font-family: 'Oswald', sans-serif;
}

.button {
   align-items: center;
   display: inline-block;
   height: 60px;
   width: 60px;
   /* float: left; */
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
  font-family: 'Oswald', sans-serif;
}

.button:hover{
    width: 200px;
}

.button .icon{
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
  }
  .button:nth-child(1):hover .icon{
    background: #4267B2;
  }
  .button:nth-child(2):hover .icon{
    background: #1DA1F2;
  }
  .button:nth-child(3):hover .icon{
    background: #E1306C;
  }

.button .icon i{
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
  }
.button:hover .icon i{
    color: #fff;
  }
.button span{
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
  }
.button:nth-child(1) span{
    color: #4267B2;
  }
.button:nth-child(2) span{
    color: #1DA1F2;
  }
.button:nth-child(3) span{
    color: #E1306C;
  }





